@{
    ViewData["Title"] ="Módulos";
}

<div class="text-center">
    <h1 class="display-4">Módulos</h1>
    <hr />

    <div>
        <ul>
            <li><button> Módulo A </button></li>
            <li><button> Módulo B </button></li>
            <li><button> Módulo C </button></li>
            <li><button> Módulo D </button></li>
            <li><button> Módulo F </button></li>
        </ul>
    </div>
</div>
